Repository GeoNode/geonode-mapstore-client, pull requests merged in 2024-05, with the labels that each got.

#1746 #1745: Optimize response of the geoapps call in Map
  geonode_mapstore_client/client/js/api/geonode/v2/index.js
  geonode_mapstore_client/client/js/epics/gnresource.js
Labels: enhancement, geonode-ms-client

#1749 #1748 - Update output_params info from the execution requests for uploads
  geonode_mapstore_client/client/js/routes/upload/UploadListContainer.jsx
Labels: geonode-ms-client

#1757 #1756 - Fix: Viewer of map is manageable when user lacks permission
  geonode_mapstore_client/client/js/epics/gnresource.js
  geonode_mapstore_client/static/mapstore/configs/localConfig.json
Labels: bug, geonode-ms-client

#1765 #1762 - Fix share button not visible for users without editing permissions
  geonode_mapstore_client/static/mapstore/configs/localConfig.json
Labels: geonode-ms-client, backport-4.3.x

#1768 Configure the proxy settings to support the MS catalog plugin
  geonode_mapstore_client/apps.py
Labels: backport-4.3.x

#1773 #1772: Add MapStore catalog plugin by default for maps
  geonode_mapstore_client/static/mapstore/configs/localConfig.json
Labels: enhancement, geonode-ms-client, backport-4.3.x

#1770 #1769: Implement catalog pages and page specific configurations
  geonode_mapstore_client/client/js/actions/gnresource.js
  geonode_mapstore_client/client/js/epics/gnresource.js
  geonode_mapstore_client/client/js/epics/gnsearch.js
  geonode_mapstore_client/client/js/epics/index.js
  geonode_mapstore_client/client/js/epics/layersettings.js
  geonode_mapstore_client/client/js/plugins/DeleteResource.jsx
  geonode_mapstore_client/client/js/plugins/ResourcesGrid.jsx
  geonode_mapstore_client/client/js/reducers/gnresource.js
  geonode_mapstore_client/client/js/routes/Catalogue.jsx
  geonode_mapstore_client/client/js/utils/AppRoutesUtils.js
  geonode_mapstore_client/client/js/utils/PluginsContextUtils.js
  geonode_mapstore_client/client/js/utils/ResourceUtils.js
  geonode_mapstore_client/client/js/utils/__tests__/AppRoutesUtils-test.js
  geonode_mapstore_client/client/themes/geonode/less/_menu.less
  geonode_mapstore_client/client/themes/geonode/less/_resources-grid.less
  geonode_mapstore_client/static/mapstore/configs/localConfig.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.de-DE.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.en-US.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.es-ES.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.fi-FI.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.fr-FR.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.hr-HR.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.it-IT.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.nl-NL.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.pt-PT.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.sk-SK.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.sv-SE.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.vi-VN.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.zh-ZH.json
  geonode_mapstore_client/templates/geonode-mapstore-client/_geonode_config.html
  geonode_mapstore_client/templates/geonode-mapstore-client/snippets/brand_navbar.html
  geonode_mapstore_client/templatetags/catalogue_urls.py
  geonode_mapstore_client/templatetags/get_menu_json.py
Labels: enhancement, geonode-ms-client, backport-4.3.x
