Repository GeoNode/geonode-mapstore-client, pull requests merged in 2024-12, with the labels that each got.

#1661 Added table of content to open layer details in map view.
  geonode_mapstore_client/client/js/actions/gnresource.js
  geonode_mapstore_client/client/js/apps/gn-catalogue.js
  geonode_mapstore_client/client/js/components/DetailsPanel/DetailsPanel.jsx
  geonode_mapstore_client/client/js/epics/index.js
  geonode_mapstore_client/client/js/plugins/LayerDetailViewer.jsx
  geonode_mapstore_client/client/js/plugins/index.js
  geonode_mapstore_client/client/js/reducers/gnresource.js
  geonode_mapstore_client/client/js/selectors/resource.js
  geonode_mapstore_client/static/mapstore/configs/localConfig.json
Labels: enhancement, geonode-ui, backport 4.4.x

#1914 #1913: Fix - Dataset filtering option missing
  geonode_mapstore_client/client/js/plugins/index.js
Labels: regression, master, geonode-ui, 4.4.x

#1921 Plain arrays (non autocomplete) fix render
  geonode_mapstore_client/client/themes/geonode/less/_metadata.less
Labels: bug, geonode-ui

#1927 Handle extra error when returned in the failure response
  geonode_mapstore_client/client/js/plugins/MetadataEditor/containers/MetadataUpdateButton.jsx
Labels: bug, geonode-ui

#1928 Fix root errors rendering
  geonode_mapstore_client/client/js/plugins/MetadataEditor/containers/MetadataEditor.jsx
Labels: geonode-ui

#1929 #1908: Update print plugins and configurations
  geonode_mapstore_client/client/js/plugins/Print/Author.jsx
  geonode_mapstore_client/client/js/plugins/Print/Copyright.jsx
  geonode_mapstore_client/client/js/plugins/index.js
  geonode_mapstore_client/client/themes/geonode/less/ms-theme.less
  geonode_mapstore_client/static/mapstore/configs/localConfig.json
  geonode_mapstore_client/static/mapstore/configs/pluginsConfig.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.de-DE.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.en-US.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.es-ES.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.fi-FI.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.fr-FR.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.hr-HR.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.it-IT.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.nl-NL.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.pt-PT.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.sk-SK.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.sv-SE.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.vi-VN.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.zh-ZH.json
Labels: master, geonode-ui
