Repository GeoNode/geonode-mapstore-client, pull requests merged in 2025-04, with the labels that each got.

#2014 #118: Remove duplicated fullscreen button
  geonode_mapstore_client/static/mapstore/configs/localConfig.json
Labels: geonode-ui

#2012 Fix - Metadata side panel list style
  geonode_mapstore_client/client/themes/geonode/less/_metadata.less
Labels: geonode-ui

#2013 Add space to avoid overlapping of resource and pagination
  geonode_mapstore_client/templates/geonode-mapstore-client/snippets/footer.html
Labels: enhancement, geonode-ui

#2028 Fix #2027 Filter button for Datasets should be active only if the WFS link is available
  geonode_mapstore_client/client/js/plugins/actionnavbar/buttons.jsx
Labels: master, geonode-ui, backport 4.4.x

#2032 Enable view data for remote layers
  geonode_mapstore_client/static/mapstore/configs/localConfig.json
Labels: master

#2015 Fix - ActionNavbar style
  geonode_mapstore_client/client/js/plugins/ActionNavbar/index.jsx
  geonode_mapstore_client/client/js/plugins/Save.jsx
  geonode_mapstore_client/client/js/plugins/SaveAs.jsx
  geonode_mapstore_client/client/themes/geonode/less/_action-navbar.less
  geonode_mapstore_client/client/themes/geonode/less/geonode.less
Labels: geonode-ui

#2018 Fix - Resource cards are not highlighted when the details are open
  geonode_mapstore_client/client/js/epics/gnresource.js
Labels: bug, geonode-ui

#2025 #2021: Enable zoom and pan of the Location map when read-only
  geonode_mapstore_client/client/js/components/DetailsPanel/DetailsLocations.jsx
Labels: enhancement, master, geonode-ui

#2017 Move Permissions to Resource details panel
  geonode_mapstore_client/client/js/epics/__tests__/gnsearch-test.js
  geonode_mapstore_client/client/js/epics/gnresource.js
  geonode_mapstore_client/client/js/epics/gnsearch.js
  geonode_mapstore_client/client/js/plugins/ResourceDetails/ResourceDetails.jsx
  geonode_mapstore_client/client/js/plugins/ResourceDetails/components/DetailsThumbnail.jsx
  geonode_mapstore_client/client/js/plugins/ResourceDetails/containers/Permissions/GeoLimits.jsx
  geonode_mapstore_client/client/js/plugins/ResourceDetails/containers/Permissions/index.jsx
  geonode_mapstore_client/client/js/plugins/ResourceDetails/containers/tabComponents.js
  geonode_mapstore_client/client/js/plugins/Share.jsx
  geonode_mapstore_client/client/js/reducers/__tests__/gnsearch-test.js
  geonode_mapstore_client/client/js/reducers/gnsearch.js
  geonode_mapstore_client/client/js/selectors/__tests__/resourceservice-test.js
  geonode_mapstore_client/client/js/utils/PluginsContextUtils.js
  geonode_mapstore_client/client/js/utils/ResourceUtils.js
  geonode_mapstore_client/client/js/utils/__tests__/ResourceUtils-test.js
  geonode_mapstore_client/static/mapstore/configs/localConfig.json
Labels: enhancement, geonode-ui
