Repository GeoNode/geonode-mapstore-client, pull requests merged in 2025-05, with the labels that each got.

#2038 Implementation of redirect system
  geonode_mapstore_client/client/js/apps/gn-catalogue.js
  geonode_mapstore_client/client/js/epics/resourceservice.js
  geonode_mapstore_client/client/js/plugins/Operation/components/ExecutionRequestTable.jsx
  geonode_mapstore_client/client/js/routes/Catalogue.jsx
  geonode_mapstore_client/client/js/routes/Redirect.jsx
  geonode_mapstore_client/client/themes/geonode/less/_brand-navbar.less
  geonode_mapstore_client/static/mapstore/configs/localConfig.json
  geonode_mapstore_client/templates/geonode-mapstore-client/_geonode_config.html
  geonode_mapstore_client/templates/geonode-mapstore-client/snippets/header.html
  geonode_mapstore_client/templates/geonode-mapstore-client/snippets/topbar.html
  geonode_mapstore_client/templatetags/get_menu_json.py
Labels: enhancement, geonode-ui

#2044 Restore primary color
  geonode_mapstore_client/client/themes/geonode/less/_bootstrap-variables.less
  geonode_mapstore_client/client/themes/geonode/less/_hero.less
  geonode_mapstore_client/client/themes/geonode/less/_metadata.less
  geonode_mapstore_client/client/themes/geonode/less/_variables.less
  geonode_mapstore_client/client/themes/geonode/less/ms-theme.less
  geonode_mapstore_client/templates/geonode-mapstore-client/snippets/custom_theme.html
Labels: enhancement, master, geonode-ui

#2053 Fixing Favorites URL in the user menu
  geonode_mapstore_client/templatetags/get_menu_json.py
Labels: bug, master

#2058 Remove thumbnail from a resource
  geonode_mapstore_client/client/js/api/geonode/v2/index.js
  geonode_mapstore_client/client/js/epics/__tests__/gnresource-test.js
  geonode_mapstore_client/client/js/epics/gnresource.js
  geonode_mapstore_client/static/mapstore/gn-translations/data.de-DE.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.en-US.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.es-ES.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.fi-FI.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.fr-FR.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.hr-HR.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.it-IT.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.nl-NL.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.pt-PT.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.sk-SK.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.sv-SE.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.vi-VN.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.zh-ZH.json
Labels: bug, master, geonode-ui

#2026 #2020 - Update edit menu of the dataset and layer settings
  geonode_mapstore_client/client/js/epics/gnresource.js
  geonode_mapstore_client/static/mapstore/configs/localConfig.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.de-DE.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.en-US.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.es-ES.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.fi-FI.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.fr-FR.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.hr-HR.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.it-IT.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.nl-NL.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.pt-PT.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.sk-SK.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.sv-SE.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.vi-VN.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.zh-ZH.json
Labels: enhancement, master, geonode-ui

#2059 Enhance close open right panel handler
  geonode_mapstore_client/client/js/epics/__tests__/gnresource-test.js
  geonode_mapstore_client/client/js/epics/gnresource.js
Labels: bug, master, geonode-ui

#2048 Fix - Actionbar menus are hidden behind the document viewer
  geonode_mapstore_client/client/js/components/MediaViewer/__tests__/Media-test.jsx
  geonode_mapstore_client/client/js/components/MetadataPreview/MetadataPreview.jsx
  geonode_mapstore_client/client/themes/geonode/less/_action-navbar.less
  geonode_mapstore_client/client/themes/geonode/less/_footer.less
Labels: bug

#2050 Resource page config based on type
  geonode_mapstore_client/apps.py
  geonode_mapstore_client/static/mapstore/configs/localConfig.json
  geonode_mapstore_client/templates/geonode-mapstore-client/resource_page_catalog.html
  geonode_mapstore_client/templates/geonode-mapstore-client/resource_type_catalog.html
  geonode_mapstore_client/utils.py
  geonode_mapstore_client/views.py
Labels: enhancement, master

#2067 Remove inbox link from the user menu
  geonode_mapstore_client/templatetags/get_menu_json.py
Labels: master

#2037 Improve brand navbar style
  geonode_mapstore_client/client/themes/geonode/less/_brand-navbar.less
  geonode_mapstore_client/client/themes/geonode/less/_search-bar.less
  geonode_mapstore_client/static/mapstore/configs/localConfig.json
  geonode_mapstore_client/templates/geonode-mapstore-client/snippets/brand_navbar.html
  geonode_mapstore_client/templates/geonode-mapstore-client/snippets/header.html
  geonode_mapstore_client/templatetags/get_menu_json.py
Labels: enhancement, geonode-ui

#2054 Enhance dataset viewer and saving of layer settings
  geonode_mapstore_client/client/js/epics/gnresource.js
  geonode_mapstore_client/client/js/epics/gnsave.js
  geonode_mapstore_client/client/js/selectors/resource.js
  geonode_mapstore_client/static/mapstore/configs/localConfig.json
Labels: bug, master, geonode-ui

#2074 Retain hero background color
  geonode_mapstore_client/client/themes/geonode/less/_variables.less
Labels: enhancement, master, geonode-ui

#2073 Metadata update feedback
  geonode_mapstore_client/client/js/plugins/MetadataEditor/containers/MetadataUpdateButton.jsx
  geonode_mapstore_client/client/js/plugins/MetadataEditor/index.js
  geonode_mapstore_client/static/mapstore/configs/localConfig.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.de-DE.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.en-US.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.es-ES.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.fi-FI.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.fr-FR.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.hr-HR.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.it-IT.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.nl-NL.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.pt-PT.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.sk-SK.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.sv-SE.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.vi-VN.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.zh-ZH.json
Labels: enhancement, master, geonode-ui

#2070 Reset pending changes on viewer page change
  geonode_mapstore_client/client/js/epics/gnresource.js
  geonode_mapstore_client/client/js/plugins/save/withPrompt.jsx
Labels: bug, master, geonode-ui

#2078 Configurable view resource button in the detail panel
  geonode_mapstore_client/client/js/plugins/ResourceDetails/ResourceDetails.jsx
  geonode_mapstore_client/client/js/plugins/ResourceDetails/components/DetailsToolbar.jsx
  geonode_mapstore_client/client/js/plugins/ResourceDetails/containers/DetailsPanel.jsx
  geonode_mapstore_client/static/mapstore/configs/localConfig.json
Labels: bug, master, geonode-ui

#2079 Enhance pending state handler for dataset
  geonode_mapstore_client/client/js/epics/gnresource.js
  geonode_mapstore_client/client/js/epics/gnsave.js
  geonode_mapstore_client/client/js/selectors/resource.js
Labels: master, geonode-ui

#2083 Fix - Prevent update error when editing permission
  geonode_mapstore_client/client/js/epics/gnsave.js
Labels: enhancement, master, geonode-ui

#2085 Visual organization of functionality inside the resource panel
  geonode_mapstore_client/client/js/plugins/ResourceDetails/ResourceDetails.jsx
  geonode_mapstore_client/client/js/plugins/ResourceDetails/components/DetailsAttributeTable.jsx
  geonode_mapstore_client/client/js/plugins/ResourceDetails/components/DetailsData.jsx
  geonode_mapstore_client/client/js/plugins/ResourceDetails/components/DetailsSettings.jsx
  geonode_mapstore_client/client/js/plugins/ResourceDetails/components/DetailsTimeSeries.jsx
  geonode_mapstore_client/client/js/plugins/ResourceDetails/containers/Permissions/index.jsx
  geonode_mapstore_client/client/js/plugins/ResourceDetails/containers/tabComponents.js
  geonode_mapstore_client/client/js/utils/PluginsContextUtils.js
  geonode_mapstore_client/client/js/utils/ResourceUtils.js
  geonode_mapstore_client/client/js/utils/__tests__/ResourceUtils-test.js
  geonode_mapstore_client/client/themes/geonode/less/_resource-details.less
  geonode_mapstore_client/client/themes/geonode/less/geonode.less
  geonode_mapstore_client/static/mapstore/gn-translations/data.de-DE.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.en-US.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.es-ES.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.fi-FI.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.fr-FR.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.hr-HR.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.it-IT.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.nl-NL.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.pt-PT.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.sk-SK.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.sv-SE.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.vi-VN.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.zh-ZH.json
Labels: enhancement, master, geonode-ui
