Repository GeoNode/geonode-mapstore-client, pull requests merged in 2025-03, with the labels that each got.

#1982 Restrict authenticatedRules
  geonode_mapstore_client/templates/geonode-mapstore-client/_geonode_config.html
Labels: backport 4.4.x

#1989 [ISSUE 1988] moving the About menu to the user menu
  geonode_mapstore_client/templates/geonode-mapstore-client/snippets/topbar.html
  geonode_mapstore_client/templatetags/get_menu_json.py
Labels: enhancement

#1993 #1992: Metadata editor: 2-levels nested dropdown support
  geonode_mapstore_client/client/js/api/geonode/v2/metadata.js
  geonode_mapstore_client/client/js/plugins/MetadataEditor/components/_fields/SchemaField.jsx
  geonode_mapstore_client/client/js/plugins/MetadataEditor/components/_fields/useSchemaReference.js
  geonode_mapstore_client/client/js/plugins/MetadataEditor/containers/MetadataEditor.jsx
Labels: enhancement, master, geonode-ui

#1991 #1986: Restrict dataset API calls to layers from GeoNode’s catalog
  geonode_mapstore_client/client/js/epics/__tests__/gnsave-test.js
  geonode_mapstore_client/client/js/epics/index.js
Labels: enhancement, mapstore, geonode-ui

#1995 #1979 - Allow to edit metadata after resource creation
  geonode_mapstore_client/client/js/apps/gn-catalogue.js
  geonode_mapstore_client/client/js/plugins/Operation/components/ExecutionRequestTable.jsx
  geonode_mapstore_client/client/js/plugins/UploadResource.jsx
  geonode_mapstore_client/client/js/plugins/index.js
  geonode_mapstore_client/client/js/routes/UploadDataset.jsx
  geonode_mapstore_client/client/js/routes/UploadDocument.jsx
  geonode_mapstore_client/client/themes/geonode/less/_upload.less
  geonode_mapstore_client/static/mapstore/configs/localConfig.json
Labels: master, geonode-ui

#2007 #2000: Fix - Metadata download filenames broken
  geonode_mapstore_client/client/js/epics/gndownload.js
  geonode_mapstore_client/client/themes/geonode/less/_menu.less
Labels: master, geonode-ui

#2009 #2006: Allow label configuration of upload operation action buttons
  geonode_mapstore_client/client/js/plugins/Operation/components/ExecutionRequestTable.jsx
  geonode_mapstore_client/client/js/plugins/UploadResource.jsx
  geonode_mapstore_client/static/mapstore/gn-translations/data.de-DE.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.en-US.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.es-ES.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.fi-FI.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.fr-FR.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.hr-HR.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.it-IT.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.nl-NL.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.pt-PT.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.sk-SK.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.sv-SE.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.vi-VN.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.zh-ZH.json
Labels: enhancement, master, geonode-ui

#2005 Update with a warning when 422
  geonode_mapstore_client/client/js/plugins/MetadataEditor/containers/MetadataEditor.jsx
  geonode_mapstore_client/client/js/plugins/MetadataEditor/containers/MetadataUpdateButton.jsx
Labels: bug, master, geonode-ui
