Repository GeoNode/geonode-mapstore-client, pull requests merged in 2025-02, with the labels that each got.

#1942 #1941: Remove allowedRoles constraints from CRSSelector config
  geonode_mapstore_client/static/mapstore/configs/pluginsConfig.json
Labels: geonode-ui, backport 4.4.x

#1944 Metadata fallback group title translation added
  geonode_mapstore_client/client/js/plugins/MetadataEditor/components/_templates/ObjectFieldTemplate.jsx
  geonode_mapstore_client/static/mapstore/gn-translations/data.de-DE.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.en-US.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.es-ES.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.fi-FI.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.fr-FR.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.hr-HR.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.it-IT.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.nl-NL.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.pt-PT.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.sk-SK.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.sv-SE.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.vi-VN.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.zh-ZH.json
Labels: geonode-ui

#1943 #1937: Fix layers settings for internal layers
  geonode_mapstore_client/static/mapstore/configs/localConfig.json
Labels: bug, geonode-ui, backport 4.4.x, 4.4.x

#1909 Fixes #1854 (no linebreak in Firefox)
  geonode_mapstore_client/client/themes/geonode/less/_details-panel.less
Labels: backport 4.4.x

#1946 #1945: Implement time series settings inside the Management panel
  geonode_mapstore_client/client/js/api/geonode/v2/index.js
  geonode_mapstore_client/client/js/components/DetailsPanel/DetailsSettings.jsx
  geonode_mapstore_client/client/js/components/DetailsPanel/DetailsTimeSeries.jsx
  geonode_mapstore_client/client/js/epics/gnresource.js
  geonode_mapstore_client/client/js/epics/gnsave.js
  geonode_mapstore_client/client/js/selectors/resource.js
  geonode_mapstore_client/client/js/utils/ResourceUtils.js
  geonode_mapstore_client/client/js/utils/__tests__/ResourceUtils-test.js
  geonode_mapstore_client/client/themes/geonode/less/_details-panel.less
  geonode_mapstore_client/static/mapstore/gn-translations/data.de-DE.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.en-US.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.es-ES.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.fi-FI.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.fr-FR.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.hr-HR.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.it-IT.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.nl-NL.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.pt-PT.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.sk-SK.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.sv-SE.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.vi-VN.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.zh-ZH.json
Labels: enhancement, geonode-ui

#1952 #1949: Implement spreadsheet document viewer
  geonode_mapstore_client/client/js/components/MediaViewer/Media.jsx
  geonode_mapstore_client/client/js/components/MediaViewer/SpreadsheetViewer.jsx
  geonode_mapstore_client/client/js/utils/FileUtils.js
  geonode_mapstore_client/client/js/utils/__tests__/FileUtils-test.js
  geonode_mapstore_client/client/package.json
  geonode_mapstore_client/client/themes/geonode/less/_media-viewer.less
  geonode_mapstore_client/static/mapstore/gn-translations/data.de-DE.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.en-US.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.es-ES.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.fi-FI.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.fr-FR.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.hr-HR.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.it-IT.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.nl-NL.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.pt-PT.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.sk-SK.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.sv-SE.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.vi-VN.json
  geonode_mapstore_client/static/mapstore/gn-translations/data.zh-ZH.json
Labels: enhancement, geonode-ui

#1967 #1964: Fix - Exception when selecting style inside layer setting of the TOC
  geonode_mapstore_client/client/js/plugins/VisualStyleEditor.jsx
Labels: regression, geonode-ui, backport 4.4.x, 4.4.x
